* {
    margin: 0;
    padding: 0;
}

div {
    border: 2px double blue;
}

#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    grid-row: 1 / 5;
}

#sidebar > p {
    text-align: center;
    font-size: 3vw;
    padding: 10px;
}

ul {
    display: grid;
    gap: 6px;
    padding: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orange;
}

#header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

#searchBar {
    display: grid;
    align-content: space-between;
}

#searchBar > p {
    font-size: 2vw;
}

#buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 6px;
    padding-right: 6px;
}

button:hover {
    background-color: greenyellow;
}

#subGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 2 / 5;
}

#pokemonComp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1 / 3;
}

#announcement {
    display: grid;
}

#announcement > p {
    font-size: 2vw;
}

#trending {
    display: grid;
}

#trending > p {
    font-size: 2vw;
}